html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bb {
    background-color: bisque;
    border: none;
}

.bb:hover {
    background-color: aqua;
}

.bb:active {
    background-color: green;
}



