html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin:0 30%;
    overflow: hidden;
}


.calculator{
    display: flex;
    flex-direction: column;
    /* margin-bottom: 0.5em; */
    flex: 1 1 auto;
    height: 70%;
    /* width: 30%; */
    /* gap: 10px; */
    border: 2px solid black;
    overflow: hidden;
} 

.display{
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 2%;
    justify-content: center;
    overflow: hidden;
    
}

.past-calc{
    text-align: right;
    margin: 0 2%;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.current{
    text-align: right;
    font-size: 3em;
    margin: 0 2%;
    flex: 5;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}

.inputs{
    margin: 0 2% 2% 2%;
    display: flex;
    flex-direction: column-reverse;
    flex: 4;
}

.inputs div{
    flex: 1;
    display: flex;
    /* justify-content: stretch; */
}

button{
    flex: 1;
    margin: 2px;
}
.bb {
    background-color: bisque;
    border: none;
}

.bb:hover {
    background-color: aqua;
}

.bb:active {
    background-color: green;
}



